@mixin textStyle($fw: 400, $fsz: 16px, $lht: 25px, $color: black) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $fw;
  font-style: normal;
  font-size: $fsz;
  line-height: $lht;
  color: $color;
}

@mixin slideBtn($url) {
  position: relative;
  border: 9px solid #0e0e0e;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background: linear-gradient(267.61deg, #ff7707 -0.6%, #ffad6a 98.31%);

  &::after {
    content: $url;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 768px) {
    border: 3px solid #0e0e0e;
    width: 30px;
    height: 30px;
  }
}
