.sidebar {
  position: fixed;
  width: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ccccccec;
  z-index: 100;
  padding: 10px;

  &__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
  }

  &__content {
    margin-top: 50px;
  }
}
