@import '@/assets/scss/_mixins';

.cvHeaderNav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 70px;
  width: 100%;
  z-index: 15;
  background: linear-gradient(45deg, #000000, #52acb6 100%);

  &__container {
    display: flex;
    flex-grow: 2;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    padding: 0 25px;

    @media (max-width: 484px) {
      padding: 0 50px;
    }
  }

  &__terminal {
    color: #0f0;
    font-family: monospace;
    font-size: 18px;
    padding: 20px;
    position: relative;

    &:before {
      content: '$';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -5px;
      color: #0f0;
      font-size: 30px;
      line-height: 20px;
    }
  }

  &__name {
    color: #fefefe;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(9);

    &:after {
      content: '|';
      display: inline-block;
      vertical-align: bottom;
      animation: blink 1s infinite;
      margin-left: 5px;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menuSidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  &__item {
    color: #1ff0e6;
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    transition: all ease-in-out 0.5s;
    cursor: pointer;

    &:hover {
      color: #4b6ddb;
      transform: scale(1.1);
    }
  }

  &__itemSidebar {
    list-style: none;
    margin: 10px;
    color: #4bbedb;

    cursor: pointer;
    transition: all ease-in-out 0.5s;

    &:hover {
      color: #4b6ddb;
      transform: scale(1.1);
    }
  }

  &__imgWrapper {
    display: none;
    width: 100%;
    height: fit-content;
    max-width: 20px;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__line {
    position: relative;
    display: block;
    bottom: -4px;
    height: 4px;
    background-color: #4b6ddb;
  }

  &__scrollLine {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #ff0000;
    transition: all ease-in-out 0.3s;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
