@import '@/assets/scss/_mixins';

.cvPage {
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }

  &__title {
    @include textStyle($fw: 700, $fsz: 40px, $lht: 30px, $color: #ff7707);

    @media (max-width: 1024px) {
      font-size: 30px;
      padding: 0 50px 0 0;
    }

    @media (max-width: 768px) {
      font-size: 25px;
      padding: 0 0 50px 0;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 40%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &__content {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__textContent {
    width: 75%;
  }
}
