@import '@/assets/scss/_mixins';

.cvSlider {
  padding: 0 50px 25px;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(82, 73, 123, 0.95) 0,
    #2d2940 100%
  );

  &__title {
    text-align: center;
    color: #fff;
    padding: 0 0 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__imgWrapper {
    width: 100%;
    height: fit-content;
    max-height: 500px;
    overflow: hidden;
    max-width: 1024px;
    cursor: pointer;
    transition: transform ease-in-out 0.3s;

    &:hover {
      transform: scale(1.03);
      overflow-y: scroll;
    }

    /* Цвет дорожки прокрутки и ползунка */
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #b789b0;
    }

    &::-webkit-scrollbar-thumb {
      background: #9b99bf;
    }

    @media (max-width: 1024px) {
      max-width: 600px;
    }

    @media (max-width: 768px) {
      max-width: 320px;
    }

    @media (max-width: 484px) {
      max-width: 240px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .carousel__slide {
    position: relative;
  }

  .carousel__viewport {
    position: relative;
    z-index: 2;
  }

  &__btnsWrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__prev,
  &__next {
    background: unset;
    border: unset;
    cursor: pointer;
  }

  &__prev {
    @include slideBtn(url('@/assets/img/iconPrev.svg'));
    left: -32px;
  }

  &__next {
    @include slideBtn(url('@/assets/img/iconNext.svg'));
    right: -32px;
  }

  @media (max-width: 768px) {
    padding: 0 35px 15px;
  }
}
